<div class="navbar navbar-default navbar-inverse navbar-fixed-top timekeeper-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-match-route="/" href="#Home"><img class="logo" ng-src="Content/images/PocketWatchLogo.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
         
            <ul class="nav navbar-nav">
                <li data-match-route="/"><a href="#Home">Home</a></li>
                    
            </ul>
        </div>
    </div>
</div>
